.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.mbarchart {
    /*border:1px solid red;*/
}

.mtooltip {
    /*width:100px;*/
    height:20px;
    border:1px solid red;
    background-color: white;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
}

.bar {
    fill: steelBlue;
}

.bar.hover {
    fill: red;
}

.series-0 {
    fill: steelblue;
}

.series-1 {
    fill: lightGreen;
}

.series-2 {
    fill: brown;
}
